---
layout: page
title: About
permalink: /about/
---

<h1>About Codeseeds</h1>

<h2>Members</h2>

<div class="member-section">
	<h3>Ashley Ginsberg</h3>
		<p class="job-title">Ruby on Rails Developer</p>
		<p class="location">Fort Lauderdale, FL</p>
		<ul class="contact-info">
			<li>{% include icon-github.html username="aginz" %}</li>
			<li>{% include icon-github.html username="aginz" %}</li>
			<li>{% include icon-github.html username="aginz" %}</li>
		</ul>
		<li class="portfolio"><a href="http://ashleyginsberg.com" target="_blank">Portfolio</a></li>
	  <p class="intro-text">I want Pivotal to want me. I'm a huge RSPEC geek. And I like FL. And we need more senior devs. </p>
		<a href="#" class="learn-more-btn">Learn more about me</a>
</div>

<div class="member-section">
	<h3>Mashon Thomas</h3>
		<p class="job-title">Ruby on Rails Instructor</p>
		<p class="location">Fort Lauderdale, FL</p>
		<ul class="contact-info">
		  <li>{% include icon-github.html username="mashon" %}</li>
		  <li>{% include icon-github.html username="mashon" %}</li>
		  <li>{% include icon-github.html username="mashon" %}</li>
		</ul>
		<li class="portfolio"><a href="http://mashon.co" target="_blank">Portfolio</a></li>
	  <p class="intro-text">I want Pivotal to want me. I'm a huge RSPEC geek. And I like FL. And we need more senior devs. </p>
		<a href="#" class="learn-more-btn">Learn more about me</a>
</div>

<div class="member-section">
	<h3>Krystal Klumpp</h3>
		<p class="job-title">Front End Developer</p>
		<p class="location">Boca Raton, FL</p>
		<ul class="contact-info">
		  <li>{% include icon-github.html username="kklumpp13" %}</li>
		  <li>{% include icon-github.html username="kklumpp13" %}</li>
		  <li>{% include icon-github.html username="kklumpp13" %}</li>
		</ul>
		<li class="portfolio"><a href="http://krystalklumpp.co" target="_blank">Portfolio</a></li>
	  <p class="intro-text">I want to work at AirBNB or 18F. I like React. And CSS.</p>
		<a href="#" class="learn-more-btn">Learn more about me</a>
</div>

	



###Rachel Townsend
Data Analyst
Sunnyvale, CA

###Sania Hasnath
Miramar, FL
[Portfolio]
