---
layout: page
title: Ashley
permalink: /about/ashley-ginsberg
---



<main class="member-page">

  <section class="personal-profile">
    <div class="personal-info">
      <h1>Ashley Ginsberg</h1>
      <h2>Software Developer</h2>
      <h3>Fort Lauderdale, FL</h3>
    </div>
    <div class="personal-description">
      <p>Hi, I'm Ashley Ginsberg.
      </p>
      <p>I am a software developer.  I love writing good, testable code and enjoy refactoring legacy code.
      </p>
      <p>I primarily work with Ruby on Rails, RSpec and SQL. My goal for 2016 is to learn React.
      </p>
      <p>I work at <a href="https://mdlive.com/">MDLIVE</a>, an on-demand telemedicine company in Florida.
      </p>
    </div>
    <div class="blog-links">
      <h3>My Articles</h3>
      <ul class="blog-list">
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li><a href="#">Third</a></li>
      </ul>
    </div>
    <div class="project-links">
      <h3>My Projects</h3>
      <ul class="project-list">
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li><a href="#">Third</a></li>
      </ul>
    </div>
    <ul class="contact-me">
      <li>{% include icon-github.html username="aginz" %}</li>
      <li>{% include icon-linkedin.html username="aginz" %}</li>
      <li>{% include icon-github.html username="aginz" %}</li>
    </ul>
  </section>

  <ul class="member-img-list">
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
  </ul>

</main>





  <h3>Ashley Ginsberg</h3>
    <p class="job-title">Ruby on Rails Developer</p>
    <p class="location">Fort Lauderdale, FL</p>
    <ul class="contact-info">
      <li>{% include icon-github.html username="aginz" %}</li>
      <li>{% include icon-github.html username="aginz" %}</li>
      <li>{% include icon-github.html username="aginz" %}</li>
    </ul>
    <li class="portfolio"><a href="http://ashleyginsberg.com" target="_blank">Portfolio</a></li>
    <p class="intro-text">I want Pivotal to want me. I'm a huge RSPEC geek. And I like FL. And we need more senior devs. </p>
    <a href="#" class="learn-more-btn">Learn more about me</a>
