---
layout: page
title: Krystal
permalink: /about/krystal-klumpp
---



<main class="member-page">

  <section class="personal-profile">
    <div class="personal-info">
      <h1>Mashon Thomas</h1>
      <h2>Web Developer</h2>
      <h3>Fort Lauderdale, FL</h3>
    </div>
    <div class="personal-description">
      <p>Dessert cake tiramisu powder biscuit. Wafer apple pie dessert lemon drops powder tart marshmallow donut. Cheesecake croissant gingerbread cheesecake pudding candy canes biscuit. Pie jelly tart. Brownie dragée powder jelly-o pudding fruitcake tootsie roll lemon drops. Bonbon powder cake topping. Pudding ice cream sesame snaps ice cream apple pie macaroon donut. Gummi bears pie cookie jelly beans donut sweet roll. Jujubes topping croissant donut toffee caramels cupcake marzipan. Pastry biscuit icing jelly beans dessert dessert bear claw oat cake chocolate cake. Jelly beans marzipan brownie tootsie roll sweet roll chocolate bar. Pastry brownie carrot cake toffee danish cheesecake chocolate chocolate bar icing.
      </p>
      <p>Dessert cake tiramisu powder biscuit. Wafer apple pie dessert lemon drops powder tart marshmallow donut. Cheesecake croissant gingerbread cheesecake pudding candy canes biscuit. Pie jelly tart. Brownie dragée powder jelly-o pudding fruitcake tootsie roll lemon drops. Bonbon powder cake topping. Pudding ice cream sesame snaps ice cream apple pie macaroon donut. Gummi bears pie cookie jelly beans donut sweet roll. Jujubes topping croissant donut toffee caramels cupcake marzipan. Pastry biscuit icing jelly beans dessert dessert bear claw oat cake chocolate cake. Jelly beans marzipan brownie tootsie roll sweet roll chocolate bar. Pastry brownie carrot cake toffee danish cheesecake chocolate chocolate bar icing.
      </p>
    </div>
    <div class="blog-links">
      <h3>My Articles</h3>
      <ul class="blog-list">
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li><a href="#">Third</a></li>
      </ul>
    </div>
    <div class="project-links">
      <h3>My Projects</h3>
      <ul class="project-list">
        <li><a href="#">First</a></li>
        <li><a href="#">Second</a></li>
        <li><a href="#">Third</a></li>
      </ul>
    </div>
    <ul class="contact-me">
      <li>{% include icon-github.html username="mashon" %}</li>
      <li>{% include icon-github.html username="mashon" %}</li>
      <li>{% include icon-github.html username="mashon" %}</li>
    </ul>
  </section>

  <ul class="member-img-list">
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
    <li>
      <a href="#"><img src="http://placekitten.com/200/300" alt="" class="member-img"></a>
    </li>
  </ul>

</main>
  

  
  
  
  
  <h3>Krystal Klumpp</h3>
		<p class="job-title">Front End Developer</p>
		<p class="location">Boca Raton, FL</p>
		<ul class="contact-info">
		  <li>{% include icon-github.html username="kklumpp13" %}</li>
		  <li>{% include icon-github.html username="kklumpp13" %}</li>
		  <li>{% include icon-github.html username="kklumpp13" %}</li>
		</ul>
		<li class="portfolio"><a href="http://krystalklumpp.co" target="_blank">Portfolio</a></li>
	  <p class="intro-text">I want to work at AirBNB or 18F. I like React. And CSS.</p>
		<a href="#" class="learn-more-btn">Learn more about me</a>