<h3>Mashon Thomas</h3>
		<p class="job-title">Ruby on Rails Instructor</p>
		<p class="location">Fort Lauderdale, FL</p>
		<ul class="contact-info">
		  <li>{% include icon-github.html username="mashon" %}</li>
		  <li>{% include icon-github.html username="mashon" %}</li>
		  <li>{% include icon-github.html username="mashon" %}</li>
		</ul>
		<li class="portfolio"><a href="http://mashon.co" target="_blank">Portfolio</a></li>
	  <p class="intro-text">I want Pivotal to want me. I'm a huge RSPEC geek. And I like FL. And we need more senior devs. </p>
		<a href="#" class="learn-more-btn">Learn more about me</a>
