<header class="header">
  <div class="cs-info">
    <h1>Codeseeds</h1>
    <h2>Tagline goes here</h2>
    <ul class="social-list">
      <li class="social-list-items">{% include icon-github.html username="codeseedsproject" %}</li>
      <li class="social-list-items">{% include icon-twitter.html username="CodeSeeds" %}</li>
      <li class="social-list-items">{% include icon-twitter.html username="codeseeds" %}</li>
    </ul>
  </div>
  <nav>
    <ul class="nav-list">
      {% for link in site.links %}
      <li class="nav-list-item">
        <a href="{{ link.url }}" target="_blank">{{link.title}}</a>
      </li>
      {% endfor %}
    </ul>
  </nav>   
    

</header>
