/********************************************/
/*              HEADER                      */
/********************************************/


.cs-info a, 
nav a {
  color: $white;
}



/* TOP BLOCK */

.cs-info {
  background: $green;
  color: $white;
}

.social-list {
  margin-bottom: 0;
}

.social-list .username {
  display: none;
}

.social-list li {
  padding: 0 1rem;
}


/* NAVIGATION */

nav {
  background: $brown;
  color: $white;
  padding: 1rem;
}



.nav-list {
  justify-content: space-around;
}



/********************************************/
/*              HOMEPAGE                    */
/********************************************/

.page-content {
  padding: 1rem;
}